.homepage {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 80px;
}

.datosComponent {
    align-content: normal;
}

.button-group {
    display: flex;
    flex-flow: row wrap;
}

h3{
    text-align: center;
}